@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

/* Color Vars */
$text_blanco: #ffffff;
$transparent_blanco: rgba(255, 255, 255, 0.8);
$hover_blanco: rgba(255, 255, 255, 1);
$black: #000000;
$grey1: #8d918d;
$grey2: #485461;
$grey3: #28313b;

/* Other Vars */
$font-family: "Roboto", sans-serif;

/* ---------------------------------------------------
    MAIN BODY
--------------------------------------------------- */
body {
  font-family: $font-family;
}

/* Animated Background */
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, $black 50%, $grey2 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

#top_line {
  color: $text_blanco;
  text-align: center;
  margin-top: 1cm;
}

#profile_pic {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.social-icons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  a {
    margin-right: 5px;
    color: $text_blanco !important;
  }
}

.fab {
  color: $transparent_blanco;
  &:hover {
    transform: scale(1.15);
    cursor: pointer;
    color: $hover_blanco;
  }
}

a:link,
a:visited {
  text-decoration: none;
  color: $black;
}

/* ---------------------------------------------------
    HOVER CARDS
--------------------------------------------------- */
.card {
  margin-top: 1cm;
  border-radius: 4px;
  background-color: $transparent_blanco;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
    background-color: $hover_blanco;
  }
  h3 {
    font-weight: 600;
  }
  img {
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
  }
}

@mixin cards-settings() {
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-1 {
  background-image: url(/assets/img/TBD.jpg);
  @include cards-settings;
}

.card-2 {
  background-image: url(/assets/img/TBD.png);
  @include cards-settings;
}

.card-3 {
  background-image: url(/assets/img/TBD.png);
  @include cards-settings;
}

@media (max-width: 990px) {
  .card {
    margin: 20px;
  }
}

/* ---------------------------------------------------
    ABOUT OVERLAY
--------------------------------------------------- */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  &:target {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: $text_blanco;
  border-radius: 5px;
  width: 35%;
  position: relative;
  transition: all 5s ease-in-out;
  h2 {
    margin-top: 0;
    color: $black;
    font-family: $font-family;
  }
  .content {
    max-height: 30%;
    overflow: auto;
  }
  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: $black;
    &:hover {
      color: $grey1;
    }
  }
}

/* ---------------------------------------------------
    LOADING PAGE ANIMATION
--------------------------------------------------- */
#loading {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
