@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
/* Color Vars */
/* Other Vars */
/* ---------------------------------------------------
    MAIN BODY
--------------------------------------------------- */
body {
  font-family: "Roboto", sans-serif;
}

/* Animated Background */
.bg {
  -webkit-animation: slide 3s ease-in-out infinite alternate;
          animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #000000 50%, #485461 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.bg3 {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}

#top_line {
  color: #ffffff;
  text-align: center;
  margin-top: 1cm;
}

#profile_pic {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.social-icons {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icons a {
  margin-right: 5px;
  color: #ffffff !important;
}

.fab {
  color: rgba(255, 255, 255, 0.8);
}

.fab:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  cursor: pointer;
  color: white;
}

a:link,
a:visited {
  text-decoration: none;
  color: #000000;
}

/* ---------------------------------------------------
    HOVER CARDS
--------------------------------------------------- */
.card {
  margin-top: 1cm;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  background-color: white;
}

.card h3 {
  font-weight: 600;
}

.card img {
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1 {
  background-image: url(/assets/img/TBD.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-2 {
  background-image: url(/assets/img/TBD.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-3 {
  background-image: url(/assets/img/TBD.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

@media (max-width: 990px) {
  .card {
    margin: 20px;
  }
}

/* ---------------------------------------------------
    ABOUT OVERLAY
--------------------------------------------------- */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  width: 35%;
  position: relative;
  -webkit-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #000000;
  font-family: "Roboto", sans-serif;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.popup .close:hover {
  color: #8d918d;
}

/* ---------------------------------------------------
    LOADING PAGE ANIMATION
--------------------------------------------------- */
#loading {
  -webkit-animation: fadeInAnimation ease 2s;
          animation: fadeInAnimation ease 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */